<div class="mx-auto p-6">
  <a routerLink="/repos" class="text-sm text-blue-600 hover:underline">← Volver</a>

  <!-- Metrics Tabs Component -->

  <div class="my-3">
    <app-reports-navbar [(selected)]="selectedReport"> </app-reports-navbar>
  </div>
  @if (selectedReport(); as rSel) {
    <div class="my-6">
      @switch (rSel) {
        @case ('hierarchical-graph') {
          <app-hierarchical-graph
            [repoId]="repo()!.id"
            [reloadTrigger]="scanVersion()"
            (openDetailsModal)="showDetailsModal.set(true)"
            (runScan)="runScan()"
          >
          </app-hierarchical-graph>
        }
        @case ('module-class-graph') {
          <app-module-class-graph
            [repoId]="repo()!.id"
            [reloadTrigger]="scanVersion()"
            (openDetailsModal)="showDetailsModal.set(true)"
            (runScan)="runScan()"
          >
          </app-module-class-graph>
        }
        @case ('module-function-graph') {
          <app-module-function-graph
            [repoId]="repo()!.id"
            [reloadTrigger]="scanVersion()"
            (openDetailsModal)="showDetailsModal.set(true)"
            (runScan)="runScan()"
          >
          </app-module-function-graph>
        }
      }
    </div>
  }
</div>

<!-- Details Modal -->
<app-details-component
  [isOpen]="showDetailsModal()"
  [repo]="repo()"
  [scan]="scan()"
  [loading]="loading()"
  [error]="error()"
  (runScan)="runScan()"
  (downloadScanJson)="downloadScanJson()"
  (closed)="showDetailsModal.set(false)"
>
</app-details-component>
