<app-graph-wrapper
  title="Exclusive enclosure"
  [legendItems]="legendItems"
  [loading]="loading()"
  [error]="error()"
  [separation]="separation()"
  [showTreeModal]="showTreeModal()"
  [allNodes]="allNodes"
  [hiddenNodes]="hiddenNodes()"
  [edgePopupData]="edgePopup()"
  [nodePopupData]="nodePopup()"
  [showParentText]="showNodeParentText"
  (closeEdgePopup)="edgePopup.set(null)"
  (separationChange)="separation.set($event); updateSeparation($event)"
  (expandAll)="expandAll()"
  (collapseAll)="collapseAll()"
  (stopExpansion)="stopExpansion()"
  (downloadSVG)="downloadSVG()"
  (downloadPNG)="downloadPNG()"
  (openTreeModal)="showTreeModal.set(true)"
  (openDetailsModal)="openDetailsModal.emit()"
  (runScan)="runScan.emit()"
  (treeNodeSelected)="onNodeSelected($event)"
  (closeTreeModal)="showTreeModal.set(false)"
  (toggleParentText)="toggleParentText()"
>
  <div #graphContainer [class]="graphs.container.inner"></div>
</app-graph-wrapper>
